<p id="notice"><%= notice %></p>

<h1>Listache</h1>

<hr/>

<h2>Create new list!</h2>

<%= render 'form' %>

<hr/>

<table>
  <thead>
    <tr>
	  <th>Title</th>
	  <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
		<td><%= list.title %></td>
		<td>&nbsp;</td>
		<td><%= link_to 'Show', list %></td>
        <td><%= link_to 'Edit', edit_list_path(list) %></td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List', new_list_path %>
