<p id="notice"><%= notice %></p>

<h2>Create new list!</h2>

<%= render 'form' %>

<hr/>

<% if @lists.any? %>
	<div class="list-group display-list">
	  <% @lists.each do |list| %>
		  <div class="list-group-item">
			<div class="lead"><%= list.title %>
				<div class="pull-right">
				  <%= link_to 'Show', list, class: "btn btn-sm btn-default" %>
				  <%= link_to 'Edit', edit_list_path(list), class: "btn btn-sm btn-default" %>
				  <%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" %>
				</div>
			</div>
		  </div>
	  <% end %>
	</div>
<% end %>