<p id="notice"><%= notice %></p>

<h1><%= @list.title %></h1>

<% if @list.list_items? %>
	<ul>
		<% @list.list_items.each do |item| %>
			<li><%= item %></li>
		<% end %>
	</ul>
<% end %>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>